@import url(style.css);

.styled-table {
    border-collapse: collapse;
	margin: 25px;
    min-width: 50rem;
    box-shadow: 0 0 25px #e9e9e9;
    text-align: center;
}

.styled-table thead tr {
    background-color: hsl(332, 52%, 86%);
}

.styled-table td {
    background-color: hsl(353, 100%, 98%); 
}

.styled-table th,
.styled-table td {
    padding: 7px 14px;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid hsl(320, 11%, 5%);
}

table, th, td {
    border: 1px solid;
  }



