:root{
    --clr-accent-400: hsl(328, 35%, 74%) ; 
    --clr-accent-100: hsl(350, 100%, 88%) ;
    --clr-accent-500: hsl(304, 29%, 69%); 

    --clr-primary-400: hsl(220, 16%, 26%);
    --clr-primary-100: hsl(221, 7%, 42%);
    --clr-primary-300: hsl(0, 0%, 34%);
    --clr-primary-50:  hsl(30, 1%, 46%);

    --clr-neutral-100: hsl(0, 0%, 99%);
    --clr-neutral-200: hsl(0, 0%, 89%); /*bottom footer*/
    --clr-neutral-300: hsl(210, 33%, 98%);
    --clr-neutral-150: hsl(0, 0%, 95%); /*top part of footer*/
    

    --ff-primary: 'Roboto', sans-serif ; 
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-light: 200;
    --fw-regular: 400;
    --fw-bold: 700;

    --fs-300: 0.75rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-550: 1.25rem;
    --fs-600: 1.688rem;
    --fs-700: 2.625rem;
    

    --fs-primary-heading: var(--fs-700);
    --fs-secondary-heading: var(--fs-600);
    --fs-body: var(--fs-500);
    --fs-body-small: var(--fs-400);
    --fs-button: var(--fs-550);
}




/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
    
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
  }


html,
body {
    height: 100%;
  }

  body {
    text-rendering:  optimizeSpeed;
    line-height: 1.5;    /* maybe change after*/ 
    font-family: var(--ff-body); 

    display: flex;
    flex-direction: column;
  }


  /* a elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  

/* Make images easier to work with */
img,
svg,
picture {
    max-width: 100%;
    display: block;
}




a{
    text-decoration: none;
    color: inherit;
    
}


footer{
    margin-top: auto;
}


















































/* ACCESSIBILITY SECTION */ 

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them  (isws overkill) */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }



 /* UTILITY CLASSES */ 


.text-primary-400 {
    color: var(--clr-primary-400);
  }
.text-primary-300{
    color: var(--clr-primary-300);
}
.text-primary-100 {
    color: var(--clr-primary-100);
}
.text-primary-50{
    color: var(--clr-primary-50);
}

.text-accent-500{
    color: var(--clr-accent-500);
}
.text-accent-400 {
    color: var(--clr-accent-400);
}
.text-accent-100 {
    color: var(--clr-accent-100);
}
.text-neutral-100 {
    color: var(--clr-neutral-100);
}
.text-neutral-200 {
    color: var(--clr-neutral-200);
}
.text-neutral-300 {
    color: var(--clr-neutral-300);
}

.bg-primary-400 {
    background-color: var(--clr-primary-400);
  }
.bg-primary-100 {
    background-color: var(--clr-primary-100);
}
.bg-accent-400 {
    background-color: var(--clr-accent-400);
}
.bg-accent-100 {
    background-color: var(--clr-accent-100);
}

.bg-accent-500{
    background-color:  var(--clr-accent-500);
}

.bg-neutral-100 {
    background-color: var(--clr-neutral-100);
}
.bg-neutral-200 {
    background-color: var(--clr-neutral-200);
}
.bg-neutral-300 {
    background-color: var(--clr-neutral-300);
}

.bg-neutral-150{
    background-color: var(--clr-neutral-150);
}

.fw-bold { font-weight: var(--fw-bold); } 
.fw-light { font-weight: var(--fw-light); } 
.fw-regular { font-weight: var(--fw-regular); } 


.fs-primary-heading {
    font-size: var(--fs-primary-heading);
}
.fs-secondary-heading{
    font-size: var(--fs-secondary-heading);
}


.fs-300 { font-size: var(--fs-300); }
.fs-400 { font-size: var(--fs-400); }
.fs-500 { font-size: var(--fs-500); }
.fs-550 { font-size: var(--fs-550); }


/* header background color  */

.bg-header {
    background: linear-gradient(0deg, rgba(251, 247, 245, 0.4), rgba(251, 247, 245, 0.4)), linear-gradient(0deg, rgba(213, 156, 184, 0.2), rgba(213, 156, 184, 0.2)), #F4CED9;

}















/* Navigation Bar */


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; /*ponos */ 
    height: 4rem;
}

.nav-container a img {
    padding-left: 0.6rem;
}


.main-nav a {

    color: var(--clr-neutral-100);
    text-decoration: none;
    position: relative;
    font-size:  var(--fs-550);
    font-family: var(--ff-primary);

}

.main-nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0.6rem 1.25rem;
    
}






/* FOOTER SECTION */ 

.column-container{

    display: flex;
    flex-direction: column;
   
}

.left-footer-row-container{
    display: flex;
    flex-direction: row;
}

.info-column-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-top: 1.5rem;
    

}

.socials-row-container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content:flex-start;
    align-items: center;
    margin-top: 0.5rem;
    
}

.right-footer-row-container{
    display: flex;
    flex-direction: row;
    gap: 6rem;
    justify-content: flex-end;

}

.left-inner-footer-row-container{
    display: flex;
    flex-direction: row;
    width: 7.5rem;
}

.middle-inner-footer-row-container{
    display: flex;
    flex-direction: row;
    width: 7.5rem;
}

.right-inner-footer-row-container{
    display: flex;
    flex-direction: row;
    width: 7.5rem;
}

.bottom-footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
    flex-wrap: wrap;
    

}

.upper-footer-container{
    display: flex;
    justify-content: space-around;
    height: 16rem;
    flex-wrap: wrap;
    border-top: 1px solid var(--clr-primary-50);
}

.line{
    border-bottom: 1px solid;
    min-width: 7.5rem;
}


.copyright-container{
    padding-left: 0.5rem;
}




